@model IEnumerable<PROYECTO_BICICLETAS.Models.Producto>

@{
  ViewData["Title"] = "Catalogo de Productos";
}
<h1 style="text-align:center;">Registro de Productos</h1>

<div class="container">
   <br> <br> 

<div align="center">

 <br>
  <br>
   <br>
    <br>

    <a class="btn btn-primary btn-lg btn-block"" href="/Producto/Registro" role="button">Registrar Productos</a>
 <br>
<a class="btn btn-danger btn-lg btn-block"" href="/Producto/Index" role="button">Listar Productos</a>
  <br>
   <br> <br>
    <br>

</div>

 <br> <br> <br> <br>




</div>