@{
    ViewData["Title"] = "About Us";
}
<h1>@ViewData["Title"]</h1>

<div class="container">
    <div class="form-group">
        <h2>Misión</h2>
        <p>Acerca de nosotros</p>  
    </div>
    <div class="form-group">
        <h2>Visión</h2>
        <p>Acerca de nosotros</p>  
    </div>
    <div class="form-group">
        <h2>Valores</h2>
        <p>Acerca de nosotros</p>  
    </div>
    


</div>

