/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.back {
  background-color:#384656;
  color: #fff;
}

.back2 {
  background-color:#b2d320;
  color: #fff;
}

.co{
  color: rgb(0, 0, 0);
}

.fo{
  background-color:#f3974b
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.g900 { font-weight: 700; }

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* nuevo */
  margin: 0em auto 0em;
}



footer{
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  background: #0a0a0a;
  align-items: center;
  height: auto;
  width: 100vw;
  font-family:"Open Sans";
  padding-top: 40px;
  color: #FFFFFF;
} 

.footer-content{
  display: flex;
  align-items:center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.footer-content h4{
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem;
}

.redes{
  list-style: none;
  display:flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}
.redes li{
  margin: 0 10 px;  
}
.redes a{
  text-decoration:none ;
  color: #FFFFFF;
}
.redes a i{
  font-size: 3.1rem;
  transition: color .4s ease;
}
.redes  a:hover  i{
  color:#F8C817;
}

.b{
  
  margin:50px ;
}
